matrix:
    include:
      - language: node_js
        node_js: 12.0
        cache:
            directories:
                - ./target
                - /home/travis/.cargo
        install:
          - curl https://sh.rustup.rs -sSf | sh -s -- -y
          - export PATH="$HOME/.cargo/bin:$PATH"
          - npm i -g truffle
        before_script:
          - cd ./tests && ./build.sh && cd ../..
        script:
          - cargo test

      - language: rust
        rust: nightly
        before_install:
          - rustup target add wasm32-unknown-unknown --toolchain nightly
        script:
          - ./build.sh
