matrix:
    include:
      - language: node_js
        node_js: 12.0
        cache:
            directories:
                - ./target
                - /home/travis/.cargo
        install:
          - curl https://sh.rustup.rs -sSf | sh -s -- -y
          - export PATH="$HOME/.cargo/bin:$PATH"
          - npm i -g truffle
        before_script:
          - cd ./src/tests && ./build.sh && cd ../..
        script:
          - cargo test --lib

      - language: rust
        rust: stable
        before_install:
          - brew install solc
        install:
          - cargo +stable build --target wasm32-unknown-unknown --release # ./build.sh needs target/wasm32-unknown-unknown/release/near_evm.wasm
        script:
          - ./build.sh
